/* reviews.css */
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: black;
  }
.reviews-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  }

.card-reviews {
  display: flex;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-container input::placeholder {
  color: #999;
}

.input-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.input-container button:hover {
  background-color: #0056b3;
}

.btn-add {
  background-color: orange;
  color: white;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin:auto;
}

.btn-add:hover {
  background-color: darkorange;
  border-radius: 25px;
}

.btn-add:disabled {
  background-color: darkorange;
  border-radius: 5px;
  cursor: not-allowed;
}

.btn-edit {
  background-color: green;
}
